
@import url('https://fonts.googleapis.com/css?family=Amaranth|Amatic+SC:400,700');

body {
	font-family: "Amaranth", Helvetica, sans-serif;
	color: #333;
	margin: 0;
}

h1, h2, h4, h5 {
	font-family: "Amatic", handwriting;
	font-weight: 700;
	color: #0054a6;
	
}
nav {
	height: 10vh;
	z-index: 99;
	background-color: #f39237;
}
/**** PLAYERS COLUMN ****/
.players {
	z-index: 98;
	height: 90vh;
	background-color: #39a9db;
}
.players img {
	width: 100%;
}
.players img:hover { background-color: #40bcd8; }
.players .active { background-color: #40bcd8; }

/*** PLAYER COLUMN ***/
#player-name { 
	font-size: 6.5rem;
	color: #0054a6;
	text-align: center;
	margin-bottom: 0;
}
.player img {
	width: 100%;
	max-height: 50vh;
	margin: auto;
	display: block;
}

/**** DIGESTIVE COLUMN ****/
.digestive img { width: 100%; max-height: 60vh; }

/*** PLAYER INFO COLUMN ****/
.player-info p { font-size: 1.5rem;	}

/*** FRIDGE COLUMN ****/
.fridge img { width: 100%; max-height: 80vh; }
